body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Fundo preto */
    color: #FFC0CB; /* Texto rosa */
}

header {
    background-color: #FF0000; /* Vermelho */
    color: #FFC0CB; /* Rosa */
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #FFC0CB; /* Rosa */
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background: #1A1A1A; /* Cinza escuro para contraste */
    color: #FFC0CB; /* Rosa */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.5); /* Sombra vermelha */
}

#sites ul {
    list-style: none;
    padding: 0;
}

#sites ul li {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #FF0000; /* Vermelho */
    color: #FFC0CB; /* Rosa */
}
