body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFC0CB;
    font-size: 18px;
}

header {
    background-color: #FF0000;
    color: #FFC0CB;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #FF0000; /* Linha vermelha ao redor */
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #FFC0CB;
    text-decoration: none;
    font-size: 20px;
}

main {
    padding: 20px;
    border: 2px solid #FF0000; /* Linha vermelha ao redor */
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background: #1A1A1A;
    color: #FFC0CB;
    border-radius: 8px;
    font-size: 20px;
    border: 2px solid #FF0000; /* Linha vermelha ao redor */
}

#sites ul li {
    margin: 5px 0;
    font-size: 18px;
    border: 2px solid #FF0000; /* Linha vermelha ao redor de itens */
    padding: 5px; /* Espaço interno para melhor aparência */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #FF0000;
    color: #FFC0CB;
    font-size: 18px;
    border: 2px solid #FF0000; /* Linha vermelha ao redor */
}
